includes: []
parameters:
	level: 8
	paths:
		- src
		- tests
	excludePaths:
		- src/FieldAwareTrait.php
	ignoreErrors:
		-
		    message: '#^Method Biano\\ElasticsearchDSL\\.+(Serializer|Normalizer|Endpoint)\:\:(denormalize|normalize|supportsDenormalization|supportsNormalization|getSupportedTypes)\(\) (return type has|has parameter \$context with) no value type specified in iterable type array\.$#'
		    path: src/**
		    reportUnmatched: false
		-
		    message: '#^Method Biano\\ElasticsearchDSL\\.+(Serializer|Normalizer)\:\:normalize\(\) return type with generic class ArrayObject does not specify its types\: TKey, TValue$#'
		    path: src/**
		    reportUnmatched: false
		-
		    message: '#^Cannot call method normalize\(\) on Biano\\ElasticsearchDSL\\Serializer\\OrderedSerializer\|null\.$#'
		    path: src/Search.php
		-
		    message: '#^Call to function method_exists\(\) with Symfony\\Component\\Serializer\\(Normalizer\\CustomNormalizer|Serializer) and .getSupportedTypes. will always evaluate to true\.$#'
		    path: src/Serializer/**
